doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(rel='stylesheet' href='css/style.css' type='text/css')
    title Full Contact
  body(ng-app='persons')
    nav.navbar.navbar-default.navBrown.navbar-fixed-top
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#')
            img(alt='Stalker' src='images/stalker.jpg')
          p.navbar-text Stalker.0 
    
    .container(ng-controller='PersonsCtrl')
      .container
        .row
          .jumbotron.pink
            h1 STALKER.0
            p Are you on or off of the radar?    
            form.form-inline(role='search')
              .col-md-6
                input.form-control(type='email' ng-model='searchTerm' placeholder='email of some awesome person')
                button.btn.btn-warning(ng-click='getURL()') Find Email
                p {{searchTerm}}

      .container.resultsDiv
        .row
          h2(ng-model='name') {{name}}
          
        .row
          .thumbnail.pink
            .imgDiv
              img(ng-repeat='photo in photos' ng-src='{{photo.url}}')
            
        .row
          h3 Websites
          .container.websites
            ul.list-group(ng-repeat='website in websites') 
              li.list-group-item.pink
                a(href='{{website.url}}') {{website.url}}
        
        .row
          h3 Social Media
          .container.social-media
            ul#social-media.list-group(ng-repeat='profile in profiles')
              li#smlabel.pink.list-group-item {{profile.type | uppercase}}
              li.pink.list-group-item
                a(href='{{profile.url}}') {{profile.url}}
              li.pink.list-group-item Handle: {{profile.username}}

      .container.belowDiv
        h3 {{searchTerm}} is currently OFF the radar...
        img(src='images/radar.jpg')
        

    script(type='text/javascript' src='vendor/jquery/dist/jquery.js')
    script(type='text/javascript' src='vendor/lodash/lodash.js')
    script(type='text/javascript' src='vendor/angular/angular.js')
    script(type='text/javascript' src='js/main.js')
    script(type='text/javascript' src='models/user.js')
