@import '../../public/vendor/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);

$color1 : #f1c19e;
$color2: #f9c498;
$color3: #e4a46c;
$pink: #ed746d;
$brown: #50361b;

.list-group {
  display: inline-block;
}

.thumbnail > img, .thumbnail a > img {
  display: inline-block;
}

.form-inline .form-control {
  width: 75%;
  background-color: $brown;
  color: $color1;
}

.imgDiv {
  text-align: center;
}

.pink{
  background-color: $pink;
}

.jumbotron h1 {
  text-align: center;
  color: $brown;
  font-family: 'Permanent Marker', cursive;
  font-size: 20rem;
}

.imgDiv img {
  margin: 1% 5%;
}

.navBrown {
  background-color: $brown;

  p {
    color: $brown;
  }
}

#social-media {
  margin: 1%;
}

.container .social-media {
  padding: 1% 5%;
  text-align: center;
}

.container .websites {
  text-align: center;
}

#smlabel {
  text-align: center;
  color: $brown;
}

/////////////////HTML ELEMENTS////////////////////////////

h2 {
  text-align: center;
  color: $brown;
  font-family: 'Permanent Marker', cursive;
  font-size: 5rem;
}

h3 {
  text-align: center;
}

body {
  background: linear-gradient(to bottom, $brown, $color3 100%);
  background-attachment: fixed;
  color: $color1;
  margin-bottom: 50px;
  padding-top: 70px;
}
